{
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": false,
  "printWidth": 100,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "html",
        "semi": false,
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
